<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        {% for item in docs %}
            <li><b>{{ item.username }}</b>: {{ item.message }}</li>
        {% endfor %}
    </ul>
</body>
</html>